<div class="mobile-nav-panel">
	<ul class="nav mdl-menu mdl-js-menu mdl-menu--bottom-left mdl-js-ripple-effect" for="menubtn">
		<% for (var i in theme.menu){ %><li  class="mdl-menu__item"><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
		<% if (theme.rss){ %><li  class="mdl-menu__item"><a href="<%- theme.rss %>"  class="nav-icon" title="RSS Feed">RSS</a></li><% } %>
	</ul>
	<button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
		<i class="material-icons" role="presentation">menu</i>
		<span class="visuallyhidden">show menu</span>
	</button>
</div>
<header id="header">
	<nav>
		<ul class="nav">
			<% for (var i in theme.menu){ %><li><a href="<%- theme.menu[i] %>"><%= i %></a></li><% } %>
			<% if (theme.rss){ %><li><a href="<%- theme.rss %>"  class="nav-icon" title="RSS Feed">RSS</a></li><% } %>
		</ul>
	</nav>
</header>
